/* media query- condições */

/* se (minha tela for menor ou igual a 980 px) então faça alguma coisa */

@media(max-width: 990px){
    #bemVindo {
        display: block;
    }
}

@media(max-width: 823px){
    main #form #form-formulario{
        background-image: none;
    }
}

@media(max-width: 600px){
    main #beneficios #beneficios-servicos {
        display: block;
    }
}

@media(max-width: 415px){
    #form-formulario-login form div,
    main #form #form-formulario form input, main #form #form-formulario-login form input,
    main #form #form-formulario form button, main #form #form-formulario-login form button, #form a{
        width: 100%;
    }
    
}
